<!DOCTYPE html>
<html>
<head>
</head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
<body>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
<div id="side_bar_inner" class="side_bar_inner">
        <div class="side_bar_nav_wrap">
  <nav class="side_bar_nav">
    <ol class="side_bar_ol">
      <li id="l_pr" class="LeftMenu__item">
  <a class="LeftMenu__itemLink" href="/profile" onclick="return window.nav.go(this, event, {&quot;noback&quot;:true,&quot;params&quot;:{&quot;_ref&quot;:&quot;left_nav&quot;}})">
    <span class="LeftMenu__itemLabel">Мой профиль</span>
    <span class="left_count_wrap fl_r left_void"><span class="inl_bl"></span></span>
  </a>
</li>
    </ol>
  </nav>
        </div>
</div>
</body>
</html>

